USE [PayPlamBD]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[marca](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_marca] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 10/29/2014 19:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[departamento](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Departam__787A433D2F10007B] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[departamento] ON
INSERT [dbo].[departamento] ([id_departamento], [nombre]) VALUES (1, N'Amazonas')
INSERT [dbo].[departamento] ([id_departamento], [nombre]) VALUES (2, N'Ancash')
INSERT [dbo].[departamento] ([id_departamento], [nombre]) VALUES (3, N'Apurimac')
SET IDENTITY_INSERT [dbo].[departamento] OFF
/****** Object:  Table [dbo].[banco]    Script Date: 10/29/2014 19:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[banco](
	[id_banco] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_banco] PRIMARY KEY CLUSTERED 
(
	[id_banco] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_producto]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_producto](
	[id_tipo_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[detalle] [varchar](500) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_tipo_producto] PRIMARY KEY CLUSTERED 
(
	[id_tipo_producto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_pago]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_pago](
	[id_tipo_pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[pago] [decimal](18, 4) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_tipo_pago] PRIMARY KEY CLUSTERED 
(
	[id_tipo_pago] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_movimiento]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_movimiento](
	[id_tipo_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[detalle] [varchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_tipo_movimiento] PRIMARY KEY CLUSTERED 
(
	[id_tipo_movimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[servicio](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_servicio] PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rubro]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rubro](
	[id_rubro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[detalle] [varchar](500) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_rubro] PRIMARY KEY CLUSTERED 
(
	[id_rubro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[provincia]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[provincia](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[id_departamento] [int] NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK__Provinci__EED7445532E0915F] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[provincia] ON
INSERT [dbo].[provincia] ([id_provincia], [id_departamento], [nombre]) VALUES (1, 1, N'Bagua')
INSERT [dbo].[provincia] ([id_provincia], [id_departamento], [nombre]) VALUES (2, 1, N'Bongará')
INSERT [dbo].[provincia] ([id_provincia], [id_departamento], [nombre]) VALUES (3, 1, N'Condorcanqui')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[provincia] OFF
/****** Object:  Table [dbo].[producto]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_producto] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pago]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_pago] [int] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_culminacion] [date] NOT NULL,
 CONSTRAINT [PK_pago] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distrito]    Script Date: 10/29/2014 19:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[distrito](
	[id_distrito] [int] IDENTITY(1,1) NOT NULL,
	[id_provincia] [int] NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[id_distrito] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[distrito] ON
INSERT [dbo].[distrito] ([id_distrito], [id_provincia], [nombre]) VALUES (1, 1, N'Bagua')
INSERT [dbo].[distrito] ([id_distrito], [id_provincia], [nombre]) VALUES (2, 1, N'La Peca')
INSERT [dbo].[distrito] ([id_distrito], [id_provincia], [nombre]) VALUES (3, 1, N'Aramango')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
SET IDENTITY_INSERT [dbo].[distrito] OFF
/****** Object:  Table [dbo].[empresa]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empresa](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[id_distrito] [int] NOT NULL,
	[id_rubro] [int] NOT NULL,
	[razon_social] [varchar](500) NOT NULL,
	[ruc] [varchar](11) NOT NULL,
	[direccion] [varchar](500) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NOT NULL,
 CONSTRAINT [PK_empresa] PRIMARY KEY CLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[agente]    Script Date: 10/29/2014 19:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[agente](
	[id_agente] [int] IDENTITY(1,1) NOT NULL,
	[id_banco] [int] NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[latitud] [float] NOT NULL,
	[longitud] [float] NOT NULL,
	[nombre_enrcargado] [varchar](500) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[telefeno] [varchar](9) NOT NULL,
	[telefono_encargado] [varchar](9) NOT NULL,
	[direccion] [varchar](500) NOT NULL,
	[estado] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[hora_incio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[id_distrito] [int] NOT NULL,
 CONSTRAINT [PK_agente] PRIMARY KEY CLUSTERED 
(
	[id_agente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cotizacion]    Script Date: 10/29/2014 19:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cotizacion](
	[id_cotizacion] [int] IDENTITY(1,1) NOT NULL,
	[id_empresa] [int] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_finalizacion] [datetime] NOT NULL,
	[descuento] [decimal](18, 4) NOT NULL,
	[estado] [tinyint] NOT NULL,
 CONSTRAINT [PK_cotizacion] PRIMARY KEY CLUSTERED 
(
	[id_cotizacion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agente_servicio]    Script Date: 10/29/2014 19:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agente_servicio](
	[id_agente_servicio] [int] IDENTITY(1,1) NOT NULL,
	[id_servicio] [int] NULL,
	[id_agente] [int] NULL,
 CONSTRAINT [PK_agente_servicio] PRIMARY KEY CLUSTERED 
(
	[id_agente_servicio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimiento]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[movimiento](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_movimiento] [int] NOT NULL,
	[id_empresa] [int] NOT NULL,
	[ingreso] [bit] NOT NULL,
	[detalle] [varchar](500) NOT NULL,
	[total] [decimal](18, 4) NOT NULL,
	[total_acumulado] [decimal](18, 4) NOT NULL,
	[couta_total] [int] NOT NULL,
	[coutas_ingresadas] [int] NOT NULL,
	[estado] [tinyint] NOT NULL,
	[inicio_alerta] [int] NOT NULL,
	[repeticion_alerta] [int] NOT NULL,
	[fecha_movimiento] [datetime] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
 CONSTRAINT [PK_movimiento] PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[proforma]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proforma](
	[id_proforma] [int] IDENTITY(1,1) NOT NULL,
	[id_empresa] [int] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_finalizacion] [datetime] NOT NULL,
	[estado] [tinyint] NOT NULL,
 CONSTRAINT [PK_proforma] PRIMARY KEY CLUSTERED 
(
	[id_proforma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_empresa]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_empresa](
	[id_producto_empresa] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_empresa] [int] NOT NULL,
	[precio] [decimal](18, 4) NULL,
	[estado] [tinyint] NULL,
 CONSTRAINT [PK_producto_empresa] PRIMARY KEY CLUSTERED 
(
	[id_producto_empresa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_empresa] [int] NULL,
	[nombre] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[telefono] [varchar](9) NULL,
	[usuario] [varchar](50) NULL,
	[clave] [varchar](50) NULL,
	[estado] [tinyint] NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_culminacion] [date] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON
INSERT [dbo].[usuario] ([id_usuario], [id_empresa], [nombre], [apellidos], [email], [telefono], [usuario], [clave], [estado], [fecha_creacion], [fecha_culminacion]) VALUES (1, NULL, N'Francisco', N'Otiniano', N'otiniano@hotmail.com', N'478412356', N'otiniano', N'123456', 0, CAST(0x0000A0E600000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[usuario] OFF
/****** Object:  Table [dbo].[item_movimiento]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_movimiento](
	[id_item_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_movimiento] [int] NOT NULL,
	[pago] [decimal](18, 4) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
 CONSTRAINT [PK_item_movimiento] PRIMARY KEY CLUSTERED 
(
	[id_item_movimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proforma_cotizacion]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proforma_cotizacion](
	[id_proforma_cotizacion] [int] IDENTITY(1,1) NOT NULL,
	[id_proforma] [int] NOT NULL,
	[id_cotizacion] [int] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
 CONSTRAINT [PK_proforma_cotizacion] PRIMARY KEY CLUSTERED 
(
	[id_proforma_cotizacion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pago_usuario]    Script Date: 10/29/2014 19:58:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago_usuario](
	[id_pago_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_pago] [int] NULL,
	[id_usuario] [int] NULL,
	[fecha_creacion] [datetime] NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_pago_usuario] PRIMARY KEY CLUSTERED 
(
	[id_pago_usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_proforma]    Script Date: 10/29/2014 19:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_proforma](
	[id_detalle_proforma] [int] IDENTITY(1,1) NOT NULL,
	[id_proforma] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[estado] [tinyint] NOT NULL,
 CONSTRAINT [PK_detalle_proforma] PRIMARY KEY CLUSTERED 
(
	[id_detalle_proforma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_cotizacion]    Script Date: 10/29/2014 19:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_cotizacion](
	[id_detalle_cotizacion] [int] IDENTITY(1,1) NOT NULL,
	[id_cotizacion] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[costo] [int] NOT NULL,
	[estado] [tinyint] NOT NULL,
 CONSTRAINT [PK_detalle_cotizacion] PRIMARY KEY CLUSTERED 
(
	[id_detalle_cotizacion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_agente_banco]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[agente]  WITH CHECK ADD  CONSTRAINT [FK_agente_banco] FOREIGN KEY([id_banco])
REFERENCES [dbo].[banco] ([id_banco])
GO
ALTER TABLE [dbo].[agente] CHECK CONSTRAINT [FK_agente_banco]
GO
/****** Object:  ForeignKey [FK_agente_distrito]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[agente]  WITH CHECK ADD  CONSTRAINT [FK_agente_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id_distrito])
GO
ALTER TABLE [dbo].[agente] CHECK CONSTRAINT [FK_agente_distrito]
GO
/****** Object:  ForeignKey [FK_agente_servicio_agente]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[agente_servicio]  WITH CHECK ADD  CONSTRAINT [FK_agente_servicio_agente] FOREIGN KEY([id_agente])
REFERENCES [dbo].[agente] ([id_agente])
GO
ALTER TABLE [dbo].[agente_servicio] CHECK CONSTRAINT [FK_agente_servicio_agente]
GO
/****** Object:  ForeignKey [FK_agente_servicio_servicio]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[agente_servicio]  WITH CHECK ADD  CONSTRAINT [FK_agente_servicio_servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[servicio] ([id_servicio])
GO
ALTER TABLE [dbo].[agente_servicio] CHECK CONSTRAINT [FK_agente_servicio_servicio]
GO
/****** Object:  ForeignKey [FK_cotizacion_empresa]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_cotizacion_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
GO
ALTER TABLE [dbo].[cotizacion] CHECK CONSTRAINT [FK_cotizacion_empresa]
GO
/****** Object:  ForeignKey [FK_detalle_cotizacion_cotizacion]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[detalle_cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_detalle_cotizacion_cotizacion] FOREIGN KEY([id_cotizacion])
REFERENCES [dbo].[cotizacion] ([id_cotizacion])
GO
ALTER TABLE [dbo].[detalle_cotizacion] CHECK CONSTRAINT [FK_detalle_cotizacion_cotizacion]
GO
/****** Object:  ForeignKey [FK_detalle_cotizacion_producto]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[detalle_cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_detalle_cotizacion_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_cotizacion] CHECK CONSTRAINT [FK_detalle_cotizacion_producto]
GO
/****** Object:  ForeignKey [FK_detalle_proforma_producto]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[detalle_proforma]  WITH CHECK ADD  CONSTRAINT [FK_detalle_proforma_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_proforma] CHECK CONSTRAINT [FK_detalle_proforma_producto]
GO
/****** Object:  ForeignKey [FK_detalle_proforma_proforma]    Script Date: 10/29/2014 19:58:52 ******/
ALTER TABLE [dbo].[detalle_proforma]  WITH CHECK ADD  CONSTRAINT [FK_detalle_proforma_proforma] FOREIGN KEY([id_proforma])
REFERENCES [dbo].[proforma] ([id_proforma])
GO
ALTER TABLE [dbo].[detalle_proforma] CHECK CONSTRAINT [FK_detalle_proforma_proforma]
GO
/****** Object:  ForeignKey [FK_distrito_provincia1]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[distrito]  WITH CHECK ADD  CONSTRAINT [FK_distrito_provincia1] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[provincia] ([id_provincia])
GO
ALTER TABLE [dbo].[distrito] CHECK CONSTRAINT [FK_distrito_provincia1]
GO
/****** Object:  ForeignKey [FK_empresa_distrito1]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[empresa]  WITH CHECK ADD  CONSTRAINT [FK_empresa_distrito1] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id_distrito])
GO
ALTER TABLE [dbo].[empresa] CHECK CONSTRAINT [FK_empresa_distrito1]
GO
/****** Object:  ForeignKey [FK_empresa_rubro]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[empresa]  WITH CHECK ADD  CONSTRAINT [FK_empresa_rubro] FOREIGN KEY([id_rubro])
REFERENCES [dbo].[rubro] ([id_rubro])
GO
ALTER TABLE [dbo].[empresa] CHECK CONSTRAINT [FK_empresa_rubro]
GO
/****** Object:  ForeignKey [FK_item_movimiento_movimiento]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[item_movimiento]  WITH CHECK ADD  CONSTRAINT [FK_item_movimiento_movimiento] FOREIGN KEY([id_movimiento])
REFERENCES [dbo].[movimiento] ([id_movimiento])
GO
ALTER TABLE [dbo].[item_movimiento] CHECK CONSTRAINT [FK_item_movimiento_movimiento]
GO
/****** Object:  ForeignKey [FK_movimiento_empresa]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[movimiento]  WITH CHECK ADD  CONSTRAINT [FK_movimiento_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
GO
ALTER TABLE [dbo].[movimiento] CHECK CONSTRAINT [FK_movimiento_empresa]
GO
/****** Object:  ForeignKey [FK_movimiento_tipo_movimiento]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[movimiento]  WITH CHECK ADD  CONSTRAINT [FK_movimiento_tipo_movimiento] FOREIGN KEY([id_tipo_movimiento])
REFERENCES [dbo].[tipo_movimiento] ([id_tipo_movimiento])
GO
ALTER TABLE [dbo].[movimiento] CHECK CONSTRAINT [FK_movimiento_tipo_movimiento]
GO
/****** Object:  ForeignKey [FK_pago_tipo_pago]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [FK_pago_tipo_pago] FOREIGN KEY([id_tipo_pago])
REFERENCES [dbo].[tipo_pago] ([id_tipo_pago])
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [FK_pago_tipo_pago]
GO
/****** Object:  ForeignKey [FK_pago_usuario_pago]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[pago_usuario]  WITH CHECK ADD  CONSTRAINT [FK_pago_usuario_pago] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pago] ([id_pago])
GO
ALTER TABLE [dbo].[pago_usuario] CHECK CONSTRAINT [FK_pago_usuario_pago]
GO
/****** Object:  ForeignKey [FK_pago_usuario_usuario]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[pago_usuario]  WITH CHECK ADD  CONSTRAINT [FK_pago_usuario_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[pago_usuario] CHECK CONSTRAINT [FK_pago_usuario_usuario]
GO
/****** Object:  ForeignKey [FK_producto_marca]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[marca] ([id_marca])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_marca]
GO
/****** Object:  ForeignKey [FK_producto_tipo_producto]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_tipo_producto] FOREIGN KEY([id_tipo_producto])
REFERENCES [dbo].[tipo_producto] ([id_tipo_producto])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_tipo_producto]
GO
/****** Object:  ForeignKey [FK_producto_empresa_empresa]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[producto_empresa]  WITH CHECK ADD  CONSTRAINT [FK_producto_empresa_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
GO
ALTER TABLE [dbo].[producto_empresa] CHECK CONSTRAINT [FK_producto_empresa_empresa]
GO
/****** Object:  ForeignKey [FK_producto_empresa_producto]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[producto_empresa]  WITH CHECK ADD  CONSTRAINT [FK_producto_empresa_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[producto_empresa] CHECK CONSTRAINT [FK_producto_empresa_producto]
GO
/****** Object:  ForeignKey [FK_proforma_empresa]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[proforma]  WITH CHECK ADD  CONSTRAINT [FK_proforma_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
GO
ALTER TABLE [dbo].[proforma] CHECK CONSTRAINT [FK_proforma_empresa]
GO
/****** Object:  ForeignKey [FK_proforma_cotizacion_cotizacion]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[proforma_cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_proforma_cotizacion_cotizacion] FOREIGN KEY([id_cotizacion])
REFERENCES [dbo].[cotizacion] ([id_cotizacion])
GO
ALTER TABLE [dbo].[proforma_cotizacion] CHECK CONSTRAINT [FK_proforma_cotizacion_cotizacion]
GO
/****** Object:  ForeignKey [FK_proforma_cotizacion_proforma]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[proforma_cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_proforma_cotizacion_proforma] FOREIGN KEY([id_proforma])
REFERENCES [dbo].[proforma] ([id_proforma])
GO
ALTER TABLE [dbo].[proforma_cotizacion] CHECK CONSTRAINT [FK_proforma_cotizacion_proforma]
GO
/****** Object:  ForeignKey [FK_Provincia_Departamento]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Departamento] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[provincia] CHECK CONSTRAINT [FK_Provincia_Departamento]
GO
/****** Object:  ForeignKey [FK_usuario_empresa]    Script Date: 10/29/2014 19:58:53 ******/
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_empresa]
GO
